<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
      
        <div class="center">
          
            <div class="title-container">
                <h1>Login</h1>
                <h1>Authentication</h1>
                <br>
                <p>Login into <a id="Website" href="https://devtern.tech/">Devtern</a></p>
            </div>
            <div class="form-container">
                <form action="/entry" method="post">
                    <label for="username">Username</label>
                    <input class="inp" type="text" name="username" id="username" placeholder="Email Address or Phone number">
                    <br>
                    <label for="password">Password</label>
                    <input class="inp" type="password" name="password" id="password" placeholder="Password" required>
                    <br>
                    <input type="checkbox" name="keep" id="keep"><label class="keep" for="keep" required>keep me logged in</label>
                    <a href="#">Forgot Password?</a>
                    <br>
                    <button class="signupbtn">Login</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>